
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
/*desktop version*/ 
@media screen and (min-width: 769px)
{

  body{
    background-color: #EBFEFF;
    margin: 0;
    padding: 0;
   
  }
  header {
    background-color: #FF7A00 ;
    color: #000000;
    padding: 10px 0;
    text-align: center;
  }
  .logo{
    margin-left: 10px;
  } 
  .image-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 100%;
    margin-right: 10px;
    margin: 10px;
  }
  .text{
    margin-left: 10px;
    word-spacing: normal;
    font-family: 'Inter', sans-serif;
  }
  .uppercase-text{
    text-transform: uppercase;
  }
  .heading{
    text-align: center;
    letter-spacing: 2px;
     }
   
  /* Navigation menu styling */
nav {
    display: flex;
    justify-content: space-between;
  }
  
  
  nav ul {
    list-style: none;
    padding: 15px;
    font-size: large;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
  }
  #home-image{
    max-width: 100%;
  }
  .underline{
    text-decoration: underline;
  }
 

 

.picture1{
justify-content: space-between;
}
 


  
  /* Style list items (li) */
  .image-list li {
    text-align: center;
    flex: 1;
  }
  
  /* Style images */
  .image-list img {
    max-width: 97%;
    height: 300px;
    margin-bottom: 10px;
    width: 480px;
    border-radius: 15px;
  }

  /* Style buttons */
.image-list button {
    background-color: #FF7A00;
    color: #000;
    border-color: #000000;
    border-style:solid;
    border-width: 1px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
  }
  .centre-img img{
    height: auto;
    float: none;
    width: 97%;
    justify-content: space-between;
   margin: 5px;
   height: 280px;
  }
.previous-button{
    background-color: #FF7A00;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
}
.next-button{
    background-color: #FF7A00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
 /* Footer styling */
 footer {
    background-color:  #FF7A00;
    color: #000000;
    padding: 1px 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  .about-text{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  
  }
  .text-info{
    padding: 10px;
    padding-inline-end: 300px;
    line-height: 1.6;
    
  }
  .aboutImage{
    width: 600px;
    height: 500px;
    border-radius: 15px;
  }
  figcaption{
    text-align: center;
  }
 
 a.for-hover:link{

  color: green;
 }
a.for-hover:hover{
  color: #FF7A00;
 }
a.for-hover:active {
  color: red;  
}
a.for-hover:visited {
  color:blue;  
}

.button-hover:hover{
  color: #ffffff;
}

  /* Style the contact container */
.contact-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the contact form */
.contact-form {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Style the about section */
.about {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-indent: 1em;
}

/* Style form elements */
.contact-form h2 {
  text-align: center;
  letter-spacing: 1px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.contact-form label span {
  color: red;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-form .radio-group label {
  margin-right: 10px;
}

.contact-form input[type="radio"] {
  margin-right: 5px;
}

.contact-form input[type="submit"] {
  background-color: #FF7A00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.message-info{
  margin: auto;
  background-color: #FF7A00;
  height: 300px;
  width: 600px;
  border-radius: 10px;
  align-items: center;
  margin-top: 10%;

}
.message-info h1{
text-align: center;
padding-top: 100px;


}

.back-home{
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  align-items: center;
  width: 120px;
  height: 30px;
 margin-left: 40%;


}
.cookies{
  z-index:9999;
}
}
/*
=================================================================================================================================================
mobile version 
===================================================================================================================================================*/
@media screen and (max-width: 768px)
{
  body{
    background-color: #EBFEFF;
    margin: 0;
    padding: 0;
  

  }
  
  header {
    background-color: #FF7A00 ;
    color: #000000;
    padding: 5px 0;
    text-align: center;
  
  }
  .logo{
    margin-left: 5px;
    height: 60px;
    width: 60px;
    position:absolute;
    top: 10px;
    left: 10px;
    

  } 
  .image-list {
    list-style: none;
    display: grid;
    justify-content: space-between;
    padding: 0;
    max-width: 100%;
    margin-right: 10px;
    margin: 10px;
    height: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
   
  }
 .contact-form input[type="submit"] 
 {
    background-color: #FF7A00 ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  #home-image{
    max-width: 100%;
  }
  .text{
    margin-left: 10px;
    word-spacing: normal;
    font-family: 'Inter', sans-serif;
    text-align:left;
  }
  .uppercase-text{
    text-transform: uppercase;
  }
  .heading{
    text-align: center;
    letter-spacing: 1px;
     }
  /* Navigation menu styling */
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  padding: 12px;
  font-size:small;
  margin-left: auto;
}

nav li {
  display: inline;
  margin-right: 5px;
margin-left: 5px;
}

nav a {
  text-decoration: none;
  color: #000000;
}
.underline{
  text-decoration: underline;
}

.picture1{
  justify-content: space-between;
  }
   
  
  
    
    /* Style list items (li) */
    .image-list li {
      text-align: center;
      flex: 1 0 100%;
      margin: 10px;
  
    }
    
    /* Style images */
    .image-list img {
      max-width: 100%;
      height: 250px;
      margin-bottom: 10px;
      width: 480px;
      border-radius: 15px;
    }
  
    /* Style buttons */
  .image-list button {
      background-color: #FF7A00;
      color: #000;
      border-color: #000000;
      border-style:solid;
      border-width: 1px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 15px;
    }
    .centre-img img{
      height: auto;
      float: none;
      width: 97%;
      justify-content: space-between;
     margin: 5px;
     height: 250px;
    }
  .previous-button{
      background-color: #FF7A00;
      color: #000;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 15px;
      width: 100px;
      height: 40px;
      margin-left: 10px;
  }
  .next-button{
      background-color: #FF7A00;
      color: #000000;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 15px;
      width: 100px;
      height: 40px;
      position: absolute;
      right: 0;
      margin-right: 10px;
  }
  .aboutImage{
    width: 204px;
    height: 316px;
    top: 139;
  }
  figcaption{
    text-align: center;
  }
  .about-text{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  
  }
 /* Style the contact container */
 .contact-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the contact form */
.contact-form {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Style the about section */
.about {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-indent: 1em;
}

/* Style form elements */
.contact-form h2 {
  text-align: center;
  letter-spacing: 1px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.contact-form label span {
  color: red;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-form .radio-group label {
  margin-right: 10px;
}

.contact-form input[type="radio"] {
  margin-right: 5px;
}

.contact-form input[type="submit"] {
  background-color: #FF7A00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.message-info{
  margin: auto;
  background-color: #FF7A00;
  height: 300px;
  width: 600px;
  border-radius: 10px;
  align-items: center;
  margin-top: 10%;

}
.message-info h1{
text-align: center;
padding-top: 100px;


}

.back-home{
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  align-items: center;
  width: 120px;
  height: 30px;
 margin-left: 40%;


}
  

  footer {
    background-color:  #FF7A00;
    color: #000000;
    padding: 1px 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    
  }

}
